.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem ;
    align-items: center;
    align-content: center;
    height: 3.5rem;
    /*background-color: #0000ff;*/
    box-shadow: 0 0 29px #3c3c3c6b;
    border-bottom: white;
}

.section-2{
    .list-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .item-menu {
        cursor:pointer;
        padding: 0 1rem;
        transition: all ease 200ms;
        &:hover {
            opacity: .8;
        }
    }
    .item-number {
        color:yellowgreen;
        padding: .5rem;
    }
}